@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: #f7f7f7;
  color: #6c7493;
  -webkit-transition: .3s;
  transition: .3s;
}

h1, h2, h3 {
  color: #1f2f70;
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
}

.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.section {
  padding: 4.5rem 0 2rem;
}

.main {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 100;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav {
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_logo {
  color: #f7f7f7;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
          column-gap: 0.25rem;
  font-weight: 600;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav_logo i {
  font-size: 1rem;
}

.nav_logo:hover {
  color: #3858d6;
}

@media screen and (max-width: 1024px) {
  .nav_menu {
    position: fixed;
    bottom: 2rem;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 8px 24px rgba(39, 69, 190, 0.15);
            box-shadow: 0 8px 24px rgba(39, 69, 190, 0.15);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.30rem 3rem;
    border-radius: 1.25rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav_link {
    color: #6c7493;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem;
    border-radius: 50%;
  }
  .nav_link i {
    font-size: 1.25rem;
  }
  .nav_link span {
    display: none;
  }
}

.scroll-header {
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 1px 4px rgba(37, 37, 40, 0.1);
          box-shadow: 0 1px 4px rgba(37, 37, 40, 0.1);
}

.scroll-header .nav_logo {
  color: #3858d6;
}

.home {
  background: linear-gradient(170deg, #383838 0%, #0f0f0f 30%);
  padding-bottom: 0;
}

.home_container {
  padding-top: 4rem;
  row-gap: 3.5rem;
}

.home_title,
.home_value_number {
  color: #f7f7f7;
}

.home_title {
  font-size: 2.25rem;
  line-height: 120%;
  margin-bottom: 1.25rem;
}

.home_description {
  color: #b8bbc7;
  margin-bottom: 2rem;
}

.home_search {
  background-color: #f7f7f7;
  padding: 0.35rem 0.35rem 0.35rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.75rem;
  border: 2px solid #b8bbc7;
  margin-bottom: 2rem;
}

.home_search i {
  font-size: 1.25rem;
  color: #3858d6;
}

.home_search_input {
  width: 90%;
  background-color: #f7f7f7;
  color: #6c7493;
  margin: 0 0.5rem;
}

.home_search_input::-webkit-input-placeholder {
  color: #6c7493;
}

.home_search_input:-ms-input-placeholder {
  color: #6c7493;
}

.home_search_input::-ms-input-placeholder {
  color: #6c7493;
}

.home_search_input::placeholder {
  color: #6c7493;
}

.home_value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.home_value_number {
  font-size: 1.5rem;
  font-weight: 500;
}

.home_value_number span {
  color: #eb7724;
}

.home_value_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #b8bbc7;
  font-size: 0.75rem;
}

.home_images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home_orbe {
  width: 265px;
  height: 284px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(93%, #292929), to(#ababab));
  background: linear-gradient(180deg, #292929 93%, #ababab 100%);
  border-radius: 136px 136px 0 0;
}

.home_img {
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 125px 125px 12px 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  bottom: -1.5rem;
  -webkit-box-shadow: 0 16px 32px rgba(22, 39, 106, 0.25);
          box-shadow: 0 16px 32px rgba(22, 39, 106, 0.25);
}

.button {
  display: inline-block;
  background: linear-gradient(101deg, #3858d6, #2948c7);
  color: #f7f7f7;
  padding: 14px 28px;
  border-radius: 0.5rem;
  font-size: 0.938rem;
  font-weight: 500;
  -webkit-box-shadow: 0 4px 8px rgba(39, 69, 190, 0.25);
          box-shadow: 0 4px 8px rgba(39, 69, 190, 0.25);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(101deg, #3047a1, #24398f);
  -webkit-box-shadow: 0 4px 12px rgba(39, 69, 190, 0.25);
          box-shadow: 0 4px 12px rgba(39, 69, 190, 0.25);
}

.nav_button {
  display: none;
}

.logos_container {
  padding-top: 2rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 3rem 2rem;
  justify-items: center;
}

.logos_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logos_img img {
  width: 100px;
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.logos_img img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 1;
}

.section_title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.section_title span {
  color: #eb7724;
}

.section_subtitle {
  display: block;
  font-size: 0.813rem;
  color: #eb7724;
}

.popular_container {
  padding: 1rem 0 5rem;
}

.popular_card {
  width: 290px;
  background-color: #f7f7f7;
  padding: 0.5rem 0.5rem 1.5rem;
  border-radius: 1rem;
  margin: 0 auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.popular_card:hover {
  -webkit-box-shadow: 0 12px 16px rgba(39, 69, 190, 0.1);
          box-shadow: 0 12px 16px rgba(39, 69, 190, 0.1);
}

.popular_img {
  border-radius: 1rem;
  width: 290px;
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}

.popular_data {
  padding: 0 1rem 0 0.5rem;
}

.popular_price {
  font-size: 1.25rem;
  color: #6c7493;
  margin-bottom: 0.25rem;
}

.popular_price span {
  color: #eb7724;
}

.popular_title {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.popular_description {
  font-size: 0.75rem;
}

.swiper-button-next,
.swiper-button-prev {
  top: initial;
  bottom: 0;
  width: initial;
  height: initial;
  background-color: #f7f7f7;
  border: 2px solid #b8bbc7;
  padding: 6px;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: #3858d6;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

.swiper-button-next {
  right: calc(50% - 3rem);
}

.swiper-button-prev {
  left: calc(50% - 3rem);
}

.value_container {
  row-gap: 3rem;
}

.value_images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.value_orbe {
  width: 266px;
  height: 316px;
  background: #f6f6f9;
  border-radius: 136px 136px 16px 16px;
}

.value_img {
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 126px 126px 12px 12px;
  inset: 0;
  margin: auto;
  -webkit-box-shadow: 0 16px 32px rgba(22, 39, 106, 0.25);
          box-shadow: 0 16px 32px rgba(22, 39, 106, 0.25);
}

.value_description {
  font-size: 0.75rem;
  margin-bottom: 2rem;
}

.value_accordion {
  display: -ms-grid;
  display: grid;
  row-gap: 1.5rem;
}

.value_accordion_item {
  background-color: #f7f7f7;
  border: 2px solid #f5f7ff;
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
}

.value_accordion_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.value_accordion_icon {
  background-color: #f0f3ff;
  padding: 6px;
  border-radius: 0.25rem;
  font-size: 18px;
  color: #3858d6;
  margin-right: 0.75rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.value_accordion_title {
  font-size: 0.813rem;
}

.value_accordion_arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #f0f3ff;
  padding: 0.25rem;
  color: #3858d6;
  border-radius: 2px;
  font-size: 10px;
  margin-left: auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.value_accordion_arrow i {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.value_accordion_description {
  font-size: 0.75rem;
  padding: 1.25rem 2.5rem 0 2.75rem;
}

.value_accordion_content {
  overflow: hidden;
  height: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.accordion_open {
  -webkit-box-shadow: 0 12px 32px rgba(39, 69, 190, 0.1);
          box-shadow: 0 12px 32px rgba(39, 69, 190, 0.1);
}

.accordion_open .value_accordion_icon {
  -webkit-box-shadow: 0 4px 4px rgba(39, 69, 190, 0.1);
          box-shadow: 0 4px 4px rgba(39, 69, 190, 0.1);
}

.accordion_open .value_accordion_arrow {
  -webkit-box-shadow: 0 2px 4px rgba(39, 69, 190, 0.1);
          box-shadow: 0 2px 4px rgba(39, 69, 190, 0.1);
}

.accordion_open .value_accordion_arrow i {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.contact_container {
  row-gap: 2rem;
}

.contact_images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_orbe {
  width: 266px;
  height: 316px;
  background-color: #f6f6f9;
  border-radius: 136px 136px 16px 16px;
}

.contact_img {
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 126px 126px 12px 12px;
  inset: 0;
  margin: auto;
  -webkit-box-shadow: 0 16px 32px rgba(22, 39, 106, 0.25);
          box-shadow: 0 16px 32px rgba(22, 39, 106, 0.25);
}

.contact_description {
  font-size: 0.75rem;
  margin-bottom: 2.5rem;
}

.contact_card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem 0.75rem;
}

.contact_card_box {
  background-color: #f7f7f7;
  border: 2px solid #f5f7ff;
  padding: 1.25rem 0.75rem;
  border-radius: 0.5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact_card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 0.75rem;
          column-gap: 0.75rem;
  margin-bottom: 1.25rem;
}

.contact_card i {
  padding: 6px;
  background-color: #f0f3ff;
  border-radius: 6px;
  font-size: 1.25rem;
  color: #3858d6;
}

.contact_card_title {
  font-size: 0.938rem;
}

.contact_card_description {
  font-size: 0.75rem;
}

.contact_card_button {
  font-size: 0.813rem;
  padding: 14px 0;
  width: 100%;
  border-radius: 0.25rem;
  background: #f0f3ff;
  color: #3858d6;
  font-weight: 600;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact_card_button:hover {
  background-color: #3858d6;
  color: #f7f7f7;
}

.contact_card_box:hover {
  -webkit-box-shadow: 0 8px 24px rgba(39, 69, 190, 0.1);
          box-shadow: 0 8px 24px rgba(39, 69, 190, 0.1);
}

.subscribe {
  padding: 2.5rem 0;
}

.subscribe_container {
  background-color: #3858d6;
  padding: 3rem 2rem;
  border-radius: 1.25rem;
  border: 6px solid #5670d7;
  text-align: center;
}

.subscribe_title {
  font-size: 1.25rem;
  color: #f7f7f7;
  margin-bottom: 1rem;
}

.subscribe_description {
  color: #d8e0fd;
  font-size: 0.813rem;
  margin-bottom: 2rem;
}

.subscribe_button {
  border: 2px solid #f7f7f7;
  background: #5670d7;
  font-size: 0.813rem;
}

.subscribe_button:hover {
  background-color: #3858d6;
}

.footer_container {
  row-gap: 2.5rem;
}

.footer_logo {
  color: #3858d6;
  font-size: 1rem;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
          column-gap: 0.25rem;
  margin-bottom: 0.75rem;
}

.footer_logo i {
  font-size: 1.25rem;
}

.footer_description,
.footer_link {
  font-size: 0.813rem;
  font-weight: 500;
}

.footer_content,
.footer_links {
  display: -ms-grid;
  display: grid;
}

.footer_content {
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 4rem;
}

.footer_title {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.footer_links {
  row-gap: 0.5rem;
}

.footer_link {
  color: #6c7493;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer_link:hover {
  color: #1f2f70;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.footer_social_link {
  font-size: 1.25rem;
  color: #6c7493;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer_social_link {
  color: #1f2f70;
}

.footer_info,
.footer_privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_info {
  padding-bottom: 6rem;
  margin-top: 5.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  row-gap: 1.5rem;
}

.footer_copy,
.footer_privacy a {
  font-size: 0.75rem;
  font-weight: 500;
  color: #6c7493;
}

.footer_privacy {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.active-link {
  background: linear-gradient(101deg, #3858d6, #2948c7);
  color: #f7f7f7;
  -webkit-box-shadow: 0 4px 8px rgba(39, 69, 190, 0.25);
          box-shadow: 0 4px 8px rgba(39, 69, 190, 0.25);
}

::-webkit-scrollbar {
  width: 0.4rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9c9fab;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #808493;
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 8px 12px rgba(39, 69, 190, 0.1);
          box-shadow: 0 8px 12px rgba(39, 69, 190, 0.1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.35rem;
  border-radius: 0.25rem;
  color: #1f2f70;
  font-size: 1.25rem;
  z-index: 10;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.scrollup:hover {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
  color: #3858d6;
}

.show-scroll {
  bottom: 8rem;
}

@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .section {
    padding: 3.5rem 0 1rem;
  }
  .home {
    padding-bottom: 0;
  }
  .contact_card {
    -ms-grid-columns: (180px)[1];
        grid-template-columns: repeat(1, 180px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .nav_menu {
    padding: 1.3rem 1.5rem;
  }
  .home_value {
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .home_img {
    width: 220px;
    height: 280px;
  }
  .home_orbe {
    width: 240px;
    height: 264px;
  }
  .logos_container {
    gap: 2rem 1rem;
  }
  .popular_card {
    width: 230px;
    padding: 0.5rem 0.5rem 0.75rem;
  }
  .value_img,
  .contact_img {
    width: 220px;
    height: 260px;
  }
  .value_orbe,
  .contact_orbe {
    width: 236px;
    height: 280px;
  }
  .subscribe_container {
    padding: 2rem 1rem;
  }
  .footer_content {
    gap: 2.5rem;
  }
}

@media screen and (min-width: 576px) {
  .nav_menu {
    width: 342px;
  }
  .home_search {
    width: 412px;
  }
  .contact_card {
    -ms-grid-columns: (192px)[2];
        grid-template-columns: repeat(2, 192px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_content {
    -ms-grid-columns: (max-content)[3];
        grid-template-columns: repeat(3, -webkit-max-content);
        grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width: 767px) {
  .home_container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
  }
  .home_orbe {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .home_data {
    padding-bottom: 2rem;
  }
  .logos_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logos_container {
    -ms-grid-columns: (max-content)[4];
        grid-template-columns: repeat(4, -webkit-max-content);
        grid-template-columns: repeat(4, max-content);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .value_container,
  .contact_container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact_images {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contact_card {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .subscribe_container {
    padding: 3rem 13rem;
  }
  .footer_container {
    -ms-grid-columns: (max-content)[2];
        grid-template-columns: repeat(2, -webkit-max-content);
        grid-template-columns: repeat(2, max-content);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1023px) {
  .section {
    padding: 7.5rem 0 1rem;
  }
  .section_title {
    font-size: 2.25rem;
  }
  .section_subtitle {
    font-size: 0.938rem;
  }
  .nav {
    height: 5rem;
  }
  .nav_menu {
    width: initial;
    margin-left: 3rem;
  }
  .nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
  .nav_link {
    color: #b8bbc7;
  }
  .nav_link i {
    display: none;
  }
  .nav_button {
    display: inline-block;
  }
  .active-link {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #3858d6;
    font-weight: 500;
  }
  .scroll-header .nav_link {
    color: #6c7493;
  }
  .scroll-header .active-link {
    color: #3858d6;
  }
  .home {
    padding-bottom: 0;
  }
  .home_container {
    padding-top: 5rem;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .home_data {
    padding-bottom: 4rem;
  }
  .home_title {
    margin-bottom: 2rem;
  }
  .home_description,
  .home_search {
    margin-bottom: 3rem;
  }
  .home_value {
    -webkit-column-gap: 3.5rem;
            column-gap: 3.5rem;
  }
  .home_orbe {
    width: 504px;
    height: 612px;
    border-radius: 256px 256px 0 0;
  }
  .home_img {
    width: 472px;
    height: 634px;
    border-radius: 236px 236px 12px 12px;
    bottom: -2.5rem;
  }
  .logos_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .popular_container {
    padding-top: 3rem;
  }
  .popular_card {
    width: 320px;
    padding: 0.75rem 0.75rem 2rem;
  }
  .popular_data {
    padding: 0 0.25rem 0 0.75rem;
  }
  .value_container,
  .contact_container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
  .value_orbe,
  .contact_orbe {
    width: 502px;
    height: 642px;
    border-radius: 258px 258px 16px 16px;
  }
  .value_img,
  .contact_img {
    width: 462px;
    height: 602px;
    border-radius: 238px 238px 12px 12px;
  }
  .value_img img,
  .contact_img img {
    max-width: initial;
    width: 490px;
  }
  .value_description,
  .contact_description {
    font-size: 0.938rem;
    margin-bottom: 2.5rem;
  }
  .value_accordion_title {
    font-size: 0.938rem;
  }
  .value_accordion_item {
    padding: 1.25rem 1.25rem 1.25rem 1rem;
  }
  .value_accordion_description {
    padding-bottom: 1rem;
    font-size: 0.813rem;
  }
  .contact_card {
    -ms-grid-columns: (200px)[2];
        grid-template-columns: repeat(2, 200px);
  }
  .contact_card_box {
    padding: 28px 1.5rem 1.5rem;
  }
  .subscribe_container {
    padding: 4rem 10rem 4.5rem;
    border-radius: 2rem;
    border: 12px solid #5670d7;
  }
  .subscribe_title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .subscribe_description {
    font-size: 0.938rem;
    padding: 0 8rem;
  }
  .subscribe_button {
    font-size: 0.938rem;
  }
  .footer_content {
    -ms-grid-columns: (max-content)[4];
        grid-template-columns: repeat(4, -webkit-max-content);
        grid-template-columns: repeat(4, max-content);
  }
  .footer_title {
    margin-bottom: 1.5rem;
  }
  .footer_links {
    row-gap: 1rem;
  }
  .footer_info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 2rem;
  }
  .show-scroll {
    bottom: 3rem;
    right: 3rem;
  }
}

@media screen and (min-width: 1040px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home_container {
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
}

@media screen and (min-width: 2048px) {
  body {
    zoom: 1.5;
  }
}

@media screen and (min-width: 3840px) {
  body {
    zoom: 2;
  }
}
/*# sourceMappingURL=style.css.map */