@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: #f7f7f7;
  color: #6c7493;
  -webkit-transition: .3s;
  transition: .3s;
}

h1, h2, h3 {
  color: #1f2f70;
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
}

.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.section {
  padding: 4.5rem 0 2rem;
}

.main {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 100;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav {
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_logo {
  color: #f7f7f7;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
          column-gap: 0.25rem;
  font-weight: 600;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav_logo i {
  font-size: 1rem;
}

.nav_logo:hover {
  color: #3858d6;
}

@media screen and (max-width: 1024px) {
  .nav_menu {
    position: fixed;
    bottom: 2rem;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 8px 24px rgba(39, 69, 190, 0.15);
            box-shadow: 0 8px 24px rgba(39, 69, 190, 0.15);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.30rem 3rem;
    border-radius: 1.25rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav_link {
    color: #6c7493;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem;
  }
  .nav_link i {
    font-size: 1.25rem;
  }
  .nav_link span {
    display: none;
  }
}

.scroll-header {
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 1px 4px rgba(37, 37, 40, 0.1);
          box-shadow: 0 1px 4px rgba(37, 37, 40, 0.1);
}

.scroll-header .nav_logo {
  color: #3858d6;
}

.home {
  background: linear-gradient(170deg, #383838 0%, #0f0f0f 30%);
  padding-bottom: 0;
}

.home_container {
  padding-top: 4rem;
  row-gap: 3.5rem;
}

.home_title,
.home_value_number {
  color: #f7f7f7;
}

.home_title {
  font-size: 2.25rem;
  line-height: 120%;
  margin-bottom: 1.25rem;
}

.home_description {
  color: #b8bbc7;
  margin-bottom: 2rem;
}

.home_search {
  background-color: #f7f7f7;
  padding: 0.35rem 0.35rem 0.35rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.75rem;
  border: 2px solid #b8bbc7;
  margin-bottom: 2rem;
}

.home_search i {
  font-size: 1.25rem;
  color: #3858d6;
}

.home_search_input {
  width: 90%;
  background-color: #f7f7f7;
  color: #6c7493;
  margin: 0 0.5rem;
}

.home_search_input::-webkit-input-placeholder {
  color: #6c7493;
}

.home_search_input:-ms-input-placeholder {
  color: #6c7493;
}

.home_search_input::-ms-input-placeholder {
  color: #6c7493;
}

.home_search_input::placeholder {
  color: #6c7493;
}

.home_value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.home_value_number {
  font-size: 1.5rem;
  font-weight: 500;
}

.home_value_number span {
  color: #eb7724;
}

.home_value_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #b8bbc7;
  font-size: 0.75rem;
}

.home_images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home_orbe {
  width: 265px;
  height: 284px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(93%, #292929), to(#ababab));
  background: linear-gradient(180deg, #292929 93%, #ababab 100%);
  border-radius: 136px 136px 0 0;
}

.home_img {
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 125px 125px 12px 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  bottom: -1.5rem;
  -webkit-box-shadow: 0 16px 32px rgba(22, 39, 106, 0.25);
          box-shadow: 0 16px 32px rgba(22, 39, 106, 0.25);
}

.button {
  display: inline-block;
  background: linear-gradient(101deg, #3858d6, #2948c7);
  color: #f7f7f7;
  padding: 14px 28px;
  border-radius: 0.5rem;
  font-size: 0.938rem;
  font-weight: 500;
  -webkit-box-shadow: 0 4px 8px rgba(39, 69, 190, 0.25);
          box-shadow: 0 4px 8px rgba(39, 69, 190, 0.25);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(101deg, #3047a1, #24398f);
  -webkit-box-shadow: 0 4px 12px rgba(39, 69, 190, 0.25);
          box-shadow: 0 4px 12px rgba(39, 69, 190, 0.25);
}

.nav_button {
  display: none;
}

.logos_container {
  padding-top: 2rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 3rem 2rem;
  justify-items: center;
}

.logos_img img {
  width: 100px;
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.logos_img img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 1;
}

.section_title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.section_title span {
  color: #eb7724;
}

.section_subtitle {
  display: block;
  font-size: 0.813rem;
  color: #eb7724;
}

.popular_container {
  padding: 1rem 0 5rem;
}

.popular_card {
  width: 290px;
  background-color: #f7f7f7;
  padding: 0.5rem 0.5rem 1.5rem;
  border-radius: 1rem;
  margin: 0 auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.popular_card:hover {
  -webkit-box-shadow: 0 12px 16px rgba(39, 69, 190, 0.1);
          box-shadow: 0 12px 16px rgba(39, 69, 190, 0.1);
}

.popular_img {
  border-radius: 1rem;
  width: 290px;
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}

.popular_data {
  padding: 0 1rem 0 0.5rem;
}

.popular_price {
  font-size: 1.25rem;
  color: #6c7493;
  margin-bottom: 0.25rem;
}

.popular_price span {
  color: #eb7724;
}

.popular_title {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.popular_description {
  font-size: 0.75rem;
}
/*# sourceMappingURL=style.css.map */